@font-face {
  font-family: "sodo sans";
  src: url(./Font/SoDo-Sans-SemiBold.ttf);
}

@media (max-width: 479px) {
  .footer {
    margin-top: 35% !important;
  }
}

body {
  background-color: #E1DACA;
  padding: 10px;
}

.subtitle {
  padding-top: 0%;
font-size: 14px;
color: #313131 !important;
font-style: italic;
}

p {
  margin-block-end: 0;
}

i {
  font-size: 15px;
}

.rounded img {
  border-radius: 50%;
  object-fit: cover;
}

.media-body,
.mt-4,
.footer {
  font-family: "sodo sans";
  color: #313131 !important;
}

.btn-outline-dark {
  color: #E1DACA;
  background-color: #B29079;
  border-color: #B29079;
}



/*definir como importante */

.mt-4 button {
  color: black !important;
}

h5 {
  color: #313131 !important;
}

.name {
  color: #313131 !important;
}

#email {
  text-decoration: none;
  float: right;
  color: black !important;
}

.footer {
  margin-top: 5% !important;
  margin-bottom: 10px;
  text-align: right;
}

.footer a {
  font-size: 6px;
}

.media-body p {
  margin-top: 16px;
}

hr {
  border-top: black !important;
}

.social-link {
  color: #B29079;
  display: inline-block;
  margin-right: 10px;
}

/* ao passar o mouse no social link, mudar a cor para preto*/ 
.social-link:hover {
  color: #313131;
}


