@font-face {
  font-family: "sodo sans";
  src: url(./Font/SoDo-Sans-SemiBold.ttf);
}

@media (max-width: 479px) {
  .footer {
    margin-top: 35% !important;
  }
}

body {
  background-color: #f1a9b8;
  padding: 10px;
}

.rounded img {
  border-radius: 50%;
}

.media-body,
.mt-4,
.footer {
  font-family: "sodo sans";
  color: black !important;
}

/*definir como importante */

.btn-outline-dark {
  color: black !important;
}

.mt-4 button {
  color: black !important;
}


h5 {
  color: black !important;
}

.name {
  color: black !important;
}

#email {
  text-decoration: none;
  float: right;
  color: black !important;
}

.footer {
  margin-top: 5% !important;
  margin-bottom: 10px;
  text-align: right;
}

.footer a {
  font-size: 6px;
}

.media-body p {
  margin-top: 16px;
}

hr {
  border-top: black !important;
}